doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Enlightened Structures
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr.js')
  body      
    .row
      .small-12.medium-4.large-6.columns.namelogo
        h1 Enlightened Structures
    .hero
      .row
        .large-12.columns.intro-text
          p
            | Projects Creating the Future of Humanity
    .row.work
      hr
      .large-12.columns
        h4 About
        p
          | Enlightened Structures is a new show exploring the pioneers in innovating 
          | technological, social, and spiritual systems designed to upgrade the adjacent possible, 
          | and bootstrap a world of abundance which values every creator as a valuable collaborator.

    .row.about
      .medium-6.large-8.columns
        h4 Harlan T Wood
        p
          | Harlan is a core creator and cofounder of the Enlightened Structure projects, 
          | which is holding visions for, and relentlessly prototyping, global-scale collaboration, 
          | universal information visualization and navigation systems, distributed trust systems, 
          | and semantic graph-shaped blockchains upon which to build all the rest.
        p
          | Harlan brings a career of practical software development together with a 
          | diverse background including years of deep training in meditation, personal growth, 
          | and transformational work in a variety of systems. 
          | His recent work includes Technical Architect of Superluminal Systems, 
          | creators of the Resonance Academy.  
      .medium-6.large-4.columns
        img(src='http://placehold.it/550x300')

    .row.about
      .medium-6.large-4.columns
        img(src='http://placehold.it/550x300')
      .medium-6.large-8.columns
        h4 Steven Starr
        p
          | Harlan’s partner-in-crime in Enlightened Structures, Steven has worked a lifetime 
          | on the creative alignment of enlightened media, technology and storytelling. 
          | Currently a co-founder of Noomap, a radical new communication platform that embodies
          | a ‘global brain’ approach to information and the Internet, 
          | Steven was recently CEO of CitizenGlobal,
          | launching co-creation initiatives for XPrize Foundation, Sierra Club, Univision, 
          | Sesame Street, Occupy Wall Street and Congo Woman’s Relief among others. 
          | Earlier, he ran the largest progressive radio signal in the US, KPFK-FM, 
          | produced the global water crisis doc FLOW, 
          | which led to a UN Resolution on the Right To Water, 
          | and executive-produced the Academy Award-nominated urban farming doc The Garden. 
        p
          | Steven began his career as a concert promoter for Bob Marley &amp; The Wailers, 
          | then launched the New Media division and headed the Motion Picture division 
          | for the William Morris Agency in New York, representing Ang Lee and Andy Warhol, 
          | among others. Steven went on to become an award-winning filmmaker and television producer, 
          | and spent the past 15 years working on various online and social media strategies for social good, 
          | including Revver, The Freenet Project, the Los Angeles independent Media Center, 
          | Uprizer and StudioOccupy. He holds a Master’s degree in Spiritual Psychology from the 
          | University of Santa Monica, and has served on multiple boards, including The Creative Coalition, 
          | San Francisco Film Society, Teachers Without Borders, and the Center for Integral Wisdom.  

    .row.work
      hr
      .large-12.columns
        h4 Work
        p Click on each image to view my work!
        ul.clearing-thumbs.small-block-grid-1.medium-block-grid-2.large-block-grid-4(data-clearing='')
          li
            a(href='http://placehold.it/550x300')
              img(data-caption='caption here', src='http://placehold.it/550x300')
          li
            a(href='http://placehold.it/550x300')
              img(data-caption='caption 2 here...', src='http://placehold.it/550x300')
          li
            a(href='http://placehold.it/550x300')
              img(data-caption='caption 3 here...', src='http://placehold.it/550x300')
          li
            a(href='http://placehold.it/550x300')
              img(data-caption='caption 4 here...', src='http://placehold.it/550x300')
    .row.contact
      hr
      .large-12.columns
        h4 Contact Me
        .large-4.columns
          strong Email
          | : 
          a(href='#')
            span.__cf_email__(data-cfemail='a6cbc3e6cbdfd6c9d4d2c0c9cacfc988c5c9cb') [email&nbsp;protected]
            script(cf-hash='f9e31', type='text/javascript').
              /* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */
        .large-4.columns
          strong Twitter
          | : @twitterhandle
        .large-4.columns
          strong Phone
          | : 555-555-1234
    footer.row
      .large-12.columns
        .row
          .large-6.columns
            p &copy; Copyright no one at all. Go to town.
          .large-6.columns
            ul.inline-list.right
              li
                a(href='#') FAQ
              li
                a(href='#') Privacy
              li
                a(href='#') Suscribe
    script(src='js/foundation/foundation.clearing.js')







    .row
      .large-12.columns
        h1 Welcome to Foundation
    |     
    .row
      .large-12.columns
        .panel
          h3 We&rsquo;re stoked you want to try Foundation! 
          | &#x9;        
          p
            | To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
          | &#x9;        
          p Once you&apos;ve exhausted the fun in this document, you should check out:
          | &#x9;        
          .row
            .large-4.medium-4.columns
              p
                a(href='http://foundation.zurb.com/docs') Foundation Documentation
                br
                | Everything you need to know about using the framework.
            | &#x9;        &#x9;
            .large-4.medium-4.columns
              p
                a(href='http://github.com/zurb/foundation') Foundation on Github
                br
                | Latest code, issue reports, feature requests and more.
            | &#x9;        &#x9;
            .large-4.medium-4.columns
              p
                a(href='http://twitter.com/foundationzurb') @foundationzurb
                br
                | Ping us on Twitter if you have questions. If you build something with this we&apos;d love to see it (and send you a totally boss sticker).
    .row
      .large-8.medium-8.columns
        h5 Here&rsquo;s your basic grid:
        // Grid Example
        .row
          .large-12.columns
            .callout.panel
              p
                strong This is a twelve column section in a row.
                |  Each of these includes a div.panel element so you can see where the columns are - it&apos;s not required at all for the grid.
        .row
          .large-6.medium-6.columns
            .callout.panel
              p Six columns
          .large-6.medium-6.columns
            .callout.panel
              p Six columns
        .row
          .large-4.medium-4.small-4.columns
            .callout.panel
              p Four columns
          .large-4.medium-4.small-4.columns
            .callout.panel
              p Four columns
          .large-4.medium-4.small-4.columns
            .callout.panel
              p Four columns
        |         
        hr
        |         
        h5 We bet you&rsquo;ll need a form somewhere:
        form
          .row
            .large-12.columns
              label Input Label
              | &#x9;&#x9;&#x9;&#x9;      
              input(type='text', placeholder='large-12.columns')
          | &#x9;&#x9;&#x9;&#x9;  
          .row
            .large-4.medium-4.columns
              label Input Label
              | &#x9;&#x9;&#x9;&#x9;      
              input(type='text', placeholder='large-4.columns')
            | &#x9;&#x9;&#x9;&#x9;    
            .large-4.medium-4.columns
              label Input Label
              | &#x9;&#x9;&#x9;&#x9;      
              input(type='text', placeholder='large-4.columns')
            | &#x9;&#x9;&#x9;&#x9;    
            .large-4.medium-4.columns
              .row.collapse
                label Input Label
                | &#x9;&#x9;&#x9;&#x9;        
                .small-9.columns
                  input(type='text', placeholder='small-9.columns')
                | &#x9;&#x9;&#x9;&#x9;        
                .small-3.columns
                  span.postfix .com
          | &#x9;&#x9;&#x9;&#x9;  
          .row
            .large-12.columns
              label Select Box
              | &#x9;&#x9;&#x9;&#x9;      
              select
                option(value='husker') Husker
                | &#x9;&#x9;&#x9;&#x9;        
                option(value='starbuck') Starbuck
                | &#x9;&#x9;&#x9;&#x9;        
                option(value='hotdog') Hot Dog
                | &#x9;&#x9;&#x9;&#x9;        
                option(value='apollo') Apollo
          | &#x9;&#x9;&#x9;&#x9;  
          .row
            .large-6.medium-6.columns
              label Choose Your Favorite
              | &#x9;&#x9;&#x9;&#x9;      
              input#pokemonRed(type='radio', name='pokemon', value='Red')
              label(for='pokemonRed') Radio 1
              | &#x9;&#x9;&#x9;&#x9;      
              input#pokemonBlue(type='radio', name='pokemon', value='Blue')
              label(for='pokemonBlue') Radio 2
            | &#x9;&#x9;&#x9;&#x9;    
            .large-6.medium-6.columns
              label Check these out
              | &#x9;&#x9;&#x9;&#x9;      
              input#checkbox1(type='checkbox')
              label(for='checkbox1') Checkbox 1
              | &#x9;&#x9;&#x9;&#x9;      
              input#checkbox2(type='checkbox')
              label(for='checkbox2') Checkbox 2
          | &#x9;&#x9;&#x9;&#x9;  
          .row
            .large-12.columns
              label Textarea Label
              | &#x9;&#x9;&#x9;&#x9;      
              textarea(placeholder='small-12.columns')
      |       
      .large-4.medium-4.columns
        h5 Try one of these buttons:
        | &#x9;&#x9;&#x9;  
        p
          a.small.button(href='#') Simple Button
          br
          a.small.radius.button(href='#') Radius Button
          br
          a.small.round.button(href='#') Round Button
          br
          |         
          a.medium.success.button(href='#') Success Btn
          br
          a.medium.alert.button(href='#') Alert Btn
          br
          a.medium.secondary.button(href='#') Secondary Btn
        | &#x9;&#x9;&#x9;&#x9;
        .panel
          h5 So many components, girl!
          |         &#x9;
          p
            | A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on making them your own.
          |         &#x9;
          a.small.button(href='http://foundation.zurb.com/docs/') Go to Foundation Docs
    |     
    script(src='js/vendor/jquery.js')
    script(src='js/foundation.min.js')
    script.
      $(document).foundation();
