//- .row
  .small-12.medium-4.large-6.columns.namelogo
    h1 Enlightened Structures
.hero
  .row
    .large-12.columns.intro-text
      p
        | Enlightened Structures:
        br
        | Projects Creating the Future of Humanity

.row.about
  .large-12.columns
    p
      | Enlightened Structures is a new show interviewing pioneers who are innovating 
      | technological, social, and spiritual systems which upgrade the adjacent possible, 
      | and bootstrap a world of abundance which values every creator as a valuable collaborator.

hr
.row
  h2.section-heading.text-center Upcoming Guests

for guest in public._data.upcoming
  .row.people(id= guest.slug)
    .medium-6.large-4.columns
      a(target='photo_source' href='#{ guest.photo_source }')
        img(src='img/#{ guest.name }.jpg')
    .medium-6.large-8.columns
      a(href= "##{ guest.slug }")
        h4= guest.name
      != partial('content/projects/' + guest.name)

hr
.row
  h2.section-heading.text-center Hosts

for host in public._data.hosts
  .row.people(id= host.slug)
    .medium-6.large-8.columns
      a(href= "##{ host.slug }")
        h4= host.name
      != partial('content/hosts/' + host.name)
    .medium-6.large-4.columns
      img(src='img/#{ host.name }.jpg')
